// RESPONSIVE FONT
@mixin responsive-font($pcSize, $mbSize) {

  /* $pcSize - наибольший размер шрифта
  $mbSize - наименьший размер шрифта */

  $maxLayoutWidth: 1280px; // максимальная ширина макета страницы
  $addSize: $pcSize - $mbSize; //вычисление добавочного коефициента для планшетов и десктопов
  $addMbSize: $addSize + $addSize * 0.7; //вычисление добавочного коефициента для смартфонов

  @media (max-width: 767px) {
    font-size: calc(#{$mbSize + px} + #{$addMbSize} * ((100vw - 320px) / #{$maxLayoutWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mbSize + px} + #{$addSize} * (100vw / #{$maxLayoutWidth}));
  }
}

// MEDIA BREAKPOINTS
/*==========  Desktop First  ==========*/

@mixin _1200 {
  @media all and (max-width: 1200px) {
    @content;
  }
}

@mixin _1170 {
  @media all and (max-width: 1170px) {
    @content;
  }
}

@mixin _1024 {
  @media all and (max-width: 1024px) {
    @content;
  }
}

@mixin _992 {
  @media all and (max-width: 992px) {
    @content;
  }
}

@mixin _768 {
  @media all and (max-width: 768px) {
    @content;
  }
}

@mixin _600 {
  @media all and (max-width: 600px) {
    @content;
  }
}

@mixin _576 {
  @media all and (max-width: 576px) {
    @content;
  }
}

@mixin _480 {
  @media all and (max-width: 480px) {
    @content;
  }
}

@mixin _360 {
  @media all and (max-width: 360px) {
    @content;
  }
}

@mixin _320 {
  @media all and (max-width: 320px) {
    @content;
  }
}


/*==========  Mobile First  ==========*/

@mixin _mw1200 {
  @media all and (min-width: 1200px) {
    @content;
  }
}

@mixin _mw1170 {
  @media all and (min-width: 1170px) {
    @content;
  }
}

@mixin _mw1024 {
  @media all and (min-width: 1024px) {
    @content;
  }
}

@mixin _mw992 {
  @media all and (min-width: 992px) {
    @content;
  }
}

@mixin _mw768 {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin _mw600 {
  @media all and (min-width: 600px) {
    @content;
  }
}

@mixin _mw576 {
  @media all and (min-width: 576px) {
    @content;
  }
}

@mixin _mw480 {
  @media all and (min-width: 480px) {
    @content;
  }
}

@mixin _mw360 {
  @media all and (min-width: 360px) {
    @content;
  }
}

@mixin _mw320 {
  @media all and (min-width: 320px) {
    @content;
  }
}