.section-intro {
  margin-bottom: rem(20);

  .page-title {
    margin-bottom: 3.2em;

    .title {
      margin: 0;
      margin-bottom: 0.3em;
      padding: 0;
      font-family: $title-font;
      font-size: 3vmax;
      line-height: 2.8vmax;

      @include _mw1200 {
        font-size: rem(44);
        line-height: rem(42);
      }
    }

    .subtitle {
      font-family: GothamPro-Regular;
      font-size: 1.28vw;
      line-height: 1.32vw;
      color: #4f4f4fa3;

      @include _mw1200 {
        font-size: rem(18);
        line-height: rem(20);
      }
    }
  }

  .banner__block {
    padding-top: 51.25%;
    border-radius: $border-radius;
    box-shadow: $main-shadow;
    position: relative;
    overflow: hidden;

    .banner-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .block-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: rem(420);
      height: 100%;
      padding: 2em;

      .block__title {
        margin-bottom: 0.63em;
        font-family: Roboto-Bold;
        font-weight: 700;
        font-size: rem(24);
        line-height: rem(28);
        color: $light-font-color;
      }

      .block__text {
        font-family: Roboto-Regular;
        font-size: rem(14);
        line-height: rem(15);
        color: #828282;
      }

      .block__btn {
        margin-top: auto;
        padding: .5em 1em;
        font-size: rem(16);
        line-height: rem(21);
        color: #ffffff;
        text-transform: capitalize;
        background: $primary-btn-color;
        border: 1px solid $primary-btn-color;
        border-radius: $border-radius;
        transition: $transition;

        &:hover {
          box-shadow: $main-shadow;
          text-decoration: none;
        }
      }
    }
  }
}